<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <div class="btnContainer">
        <div class="titulos">
            <h1>Bienvenido</h1>
            <h2>¿Que desea hacer?</h2>
        </div>

        <a href="./login.html"><button id="btn1" class="btn1">Loguearse</button></a>

        <a href="./register.html"><button id="btn2" class="btn2">Registrarse</button></a>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>